.navbar-brand {
	text-decoration: none;
}

#nav-list a {
  text-align: center;
}

.content{
	position:relative;
	/*box-sizing: border-box;
	background-color: yellow;
	border:1px solid #3F0C1F;*/
	padding:10px;

	/* Center content blocks */
	display:block;
	margin-left: auto;
	margin-right: auto;
}

/*.section-title{
	text-align: center;
}*/

.content-section{
	position:relative;
	box-sizing: border-box;
	background-color: yellow;
	border:1px solid #3F0C1F;
	padding:20px;
	padding-top: 5px;
	min-height: 700px;
}