

*{
	font-family: Arial, Serif;
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	margin: 30px;
	font-size: 175%;
}

body{
	padding:5%;
}

/*sections*/
section{
	position:relative;

	border: 3px solid;
	border-color:black;
	height: 200px;

	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	padding-top: 0px;

	box-sizing: border-box;
	float:left;
	overflow:auto;

	background-color: gray;
}


/*title labels*/
div{
	position:absolute;
	top: 0px;
	right: 0px;
	min-width: 100px;

	border-color: black;
	border-style: solid;
	border-width:1px;

	text-align: center;
	font-size: 125%
}

.title1{
	background-color: orange;
}

.title2{
	background-color: pink;
}

.title3{
	background-color: blue;
	color:white;
}

section > p {
	margin-top:35px;
}



/*desktop version*/
@media(min-width: 992px) {

	.s1{
		width: 33% ;
	}

	.s2{
		width: 33% ;
		margin-left: .5% ;
		margin-right:.5% ;
	}

	.s3{
		float:right;
		width: 33%;
	}
}



/*tablet version*/
@media(min-width:768px) and (max-width:991px){

	.s1{
		width: 49%

	}

	.s2{
		float:right;
		margin-right: 0px;
		width: 49% 	
	}

	.s3{
		clear:left;
		width: 100% 
	}
}



/*mobile version*/
@media(max-width: 767px) {
	.s1{
		width: 100%
	}

	.s2{
		width: 100% 
	}

	.s3{
		width: 100% 
	}
}


.s3{
		margin-right:0px;
	}
